PORT=3000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5434
DB_USER=ember
DB_PASSWORD=ember
DB_NAME=ember_restaurant

REDIS_HOST=localhost
REDIS_PORT=6379

JWT_SECRET=cambiar_en_produccion
JWT_EXPIRES_IN=12h

# simulado | <nombre-proveedor>
FACTURACION_PROVEEDOR=simulado
FACTURACION_API_URL=
FACTURACION_API_KEY=

CORS_ORIGINS=http://localhost:4200,http://localhost:4300
